---
layout: default
---

<div class="note-content">
  <h1>{{ page.title }}</h1>
  <h2>{{ page.subheader }}</h2>
  {{ content }}

  <div class="container">
    <div class="row">
      {% assign has_media = false %}
{% for file in site.static_files %}
  {% if file.path contains 'assets/media' and file.name contains page.title %}
    {% assign has_media = true %}
    {% assign ext = file.extname | downcase %}
    {% if ext == '.jpg' or ext == '.png' or ext == '.gif' %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="{{ file.name }}"
                 data-image="{{ site.baseurl }}{{ file.path }}"
                 data-target="#image-gallery">
                <img class="img-thumbnail"
                     src="{{ site.baseurl }}{{ file.path }}"
                     alt="{{ file.name }}">
              </a>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  
    {% if has_media %}
      <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body">
              <img id="image-gallery-image" class="img-responsive col-md-12" src="">
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  <script>
    $(document).ready(function(){
        loadGallery(true, 'a.thumbnail');
    
        //This function disables buttons when needed
        function disableButtons(counter_max, counter_current){
            $('#show-previous-image, #show-next-image').show();
            if(counter_max === counter_current){
                $('#show-next-image').hide();
            } else if (counter_current === 1){
                $('#show-previous-image').hide();
            }
        }
    
        function loadGallery(setIDs, setClickAttr){
            var current_image,
                selector,
                counter = 0;
    
            $('#show-next-image, #show-previous-image').click(function(){
                if($(this).attr('id') === 'show-previous-image'){
                    current_image--;
                } else {
                    current_image++;
                }
    
                selector = $('[data-image-id="' + current_image + '"]');
                updateGallery(selector);
            });
    
            function updateGallery(selector) {
                var $sel = selector;
                current_image = $sel.data('image-id');
                $('#image-gallery-title').text($sel.data('title'));
                $('#image-gallery-image').attr('src', $sel.data('image'));
                disableButtons(counter, $sel.data('image-id'));
            }
    
            if(setIDs == true){
                $('[data-image-id]').each(function(){
                    counter++;
                    $(this).attr('data-image-id',counter);
                });
            }
            $(setClickAttr).on('click',function(){
                updateGallery($(this));
            });
        }
    });
    </script>

</div>
